* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    background: #e4d4e3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    padding: 2rem 0.6rem;
    width: 400px;
    height: fit-content;
    box-shadow: 4px 4px 10px;
    border-radius: 1rem;
    background: rgb(34, 34, 46);
}

.screen {
    height: 90px;
    background-color: rgb(186, 186, 211);
    color: rgb(38, 38, 59);
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-right: 1rem;
    margin: 7px;
    border-radius: 10px;
    text-align: right;
}

button {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1rem;
    margin: 7px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-operator {
    background: rgb(139, 139, 187);
    color: rgb(38, 38, 59);
}

.btn-nums {
    background-color: rgb(186, 186, 211);
    color: rgb(38, 38, 59);
}

.btn-nums:hover {
    background-color: rgb(153, 153, 175);
    color: rgb(38, 38, 59);
}

.btn-operator:hover {
    background-color: rgb(124, 124, 168);
    color: rgb(38, 38, 59);
}

.btn-equal {
    background: rgb(139, 139, 187);
    color: rgb(38, 38, 59);
    grid-column: 1 / 5;
}

.btn-equal:hover {
    background: rgb(124, 124, 168);
    color: rgb(38, 38, 59);
}

.btn-clear {
    background: rgb(139, 139, 187);
    color: rgb(38, 38, 59);
}

.btn-clear:hover {
    background: rgb(124, 124, 168);
    color: rgb(38, 38, 59);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 5px;
}